[submodule "bundle/vim-journal"]
	path = bundle/vim-journal
	url = git@github.com:Natman64/vim-journal.git
[submodule "bundle/vim-jekyll"]
	path = bundle/vim-jekyll
	url = https://github.com/parkr/vim-jekyll.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = git@github.com:scrooloose/nerdcommenter.git
[submodule "bundle/python-mode"]
	path = bundle/python-mode
	url = git@github.com:klen/python-mode.git
[submodule "bundle/a.vim"]
	path = bundle/a.vim
	url = git@github.com:vim-scripts/a.vim.git
